body, .main-content {
  padding: 40px;
  margin: 30px;
}

.custom-nav {
  background-color: #C2E0F2;
  /* padding: 20px; */
}

.custom-nav .navbar-brand {
  color: black;
}

.btn-primary {
  background-color: #88C1F2;
  border-color: #88C1F2;
  color: black;
}

.btn-outline-secondary {
  color: black;
}

/* .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #yourDarkerColorHere !important;
  border-color: #yourDarkerColorHere !important; 
} */

/* .btn-secondary {
  background-color: ;
  border-color: ;
} */

/* .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #yourDarkerColorHere !important;
  border-color: #yourDarkerColorHere !important;
} */

.table {
  width: 90% !important;
  margin: 0 auto !important;
}

.edit-amount-of-milk, .edit-start-time, .edit-end-time {
  width: 100%;
  box-sizing: border-box;
}

.amount-of-milk, .start-time, .end-time, .duration {
  min-width: 50px;
}

