<!DOCTYPE html>
<html>
<head>
    <title>Feeding Data Entry</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../static/user.js"></script>
</head>
<body>
<script>
    let userData = JSON.parse(localStorage.getItem('userData'));
    let userId = userData.userId;
    let username = userData.username;
    let role = userData.role;
</script>
<div class="container">
    <h1>Feeding Data Entry</h1>
    <div class="input-field">
        <label for="amount-of-milk">Amount of Milk (in ml):</label>
        <input type="number" id="amount-of-milk" required>
    </div>
    <div class="timer">
        <label for="timer">Timer:</label>
        <span id="timer">00:00</span>
    </div>
    <div class="button-row">
        <button id="start-button">Start</button>
        <button id="submit-button">Submit</button>
    </div>
    <div class="table-container">
        <h2>Feeding Data</h2>
        <table id="feeding-data-table">
            <thead>
            <tr>
                <th>Amount of Milk</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Duration</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <h2>Average Milk Amount</h2>
    <canvas id="average-milk-chart"></canvas>

    <h2>Average Duration</h2>
    <canvas id="average-duration-chart"></canvas>

    <div class="date-filter">
        <label for="start-date">Start Date:</label>
        <input type="date" id="start-date">

        <label for="end-date">End Date:</label>
        <input type="date" id="end-date">

        <button id="filter-button">Filter</button>
    </div>
</div>
</body>
</html>
